input, textarea {
  width: 100%;
  font-size: 24px;
}
textarea {
  height: 200px;
}

.message {
  font-family: "Arial Rounded Mt", "Arial", sans-serif;
}

.message header {
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  font-size: 14px;
  padding: 5px 0;
  margin-bottom: 20px;
}

.message header .label {
  width: 50px;
  display: block;
  float: left;
}

.message .body {
  font-weight: 900;
  font-size: 24px;
}